body{
    height:100vh;
    margin:0;
    padding:0;
    background:url(img/automne.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    animation-name:slider;
    animation-duration:12s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes slider{
    0%{
        background:url(img/automne.jpg);
    }

    17%{
        background:url(img/cascade.jpg);
    }
    33%{
        background:url(img/champ.jpg);
    }
    53%{
        background:url(img/foret.jpg);
    }

    67%{
        background: url(img/ile.jpg);
    }
    83%{
        background:url(img/mer.jpg);
    }

}